<main>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="bg-white shadow-sm p-5">
                        <h2 class="text-center font-unica text-uppercase mb-4">Attend Event</h2>
                        <div class="form-group">
                            <ul id="listOrg_list" class="list-group">
                                <li class="list-group-item" ng-repeat="(x,y) in EventCtrl.keys.events">
                                    <div class="d-flex align-items-center">
                                        <span class="mr-auto p-1 flex-column">
                                            <div class="p-2 lead">{{x}}</div>
                                        </span>
                                        <select class="form-control rounded-0 font-karla bg-light w-25 mr-2" required ng-model="EventCtrl.attend[y]" ng-init="EventCtrl.attend[y] = '1'">
                                            <option value=2>Yes</option>
                                            <option value=1>Maybe</option>
                                            <option value=0>No</option>
                                        </select>
                                        <div class="bg-dark mr-2" style="width:1px;height:40px;"></div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck{{y}}" ng-model="EventCtrl.interest[y]" ng-init="EventCtrl.interest[y] = false">
                                            <label class="custom-control-label" for="customCheck{{y}}">Interested</label>
                                        </div>
                                </li>
                            </ul>
                            <button
                                class="btn btn-primary submit-btn rounded-0 font-karla text-uppercase btn-block mt-4 p-2"
                                type="submit" ng-click="EventCtrl.submit();">Kayıt
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>