<main>
    <section class="min-vh-100">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-10">
                    <div class="bg-white shadow-sm p-5">
                        <h2 class="text-black text-center font-unica text-uppercase mb-4">Profil Bilgileri</h2>
                        <div class="form-group">
                            <ul id="listOrg_list" class="list-group">
                                <li class="list-group-item" ng-repeat="(x,y) in AccountCtrl.searchUser()">
                                    <div class="d-flex align-items-center">
                                        <span class="mr-auto p-1 flex-column">
                                            <div class="p-2 lead">{{y}}</div>
                                        </span>
                                        <button class="btn btn-success h-100 mr-2" ng-if="AccountCtrl.isFriend(x)" ng-click="AccountCtrl.addFriend(x)">Ekle</button>
                                        <button class="btn btn-danger h-100 mr-2" ng-if="!AccountCtrl.isFriend(x)" ng-click="AccountCtrl.removeFriend(x)">Çıkar</button>

                                </li>
                            </ul>
                            </div>
                        </div>


                        <div class="bg-white shadow-sm p-5">
                            <h2 class="text-black text-center font-unica text-uppercase mb-4"></h2>
                            <div class="form-group">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="(x,y) in AccountCtrl.friends">
                                        <div class="d-flex align-items-center">
                                            <span class="mr-auto p-1 flex-column">
                                            <div class="p-2 lead">{{y}}</div>
                                        </span>
                                            <button class="btn btn-success h-100 mr-2" ng-if="AccountCtrl.isFriend(x)" ng-click="AccountCtrl.addFriend(x)">Ekle</button>
                                            <button class="btn btn-danger h-100 mr-2" ng-if="!AccountCtrl.isFriend(x)" ng-click="AccountCtrl.removeFriend(x)">Çıkar</button>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
</main>