<main>
    <section class="min-vh-100">
        <div class="container">
            <div class="row justify-content-center mt-4">
                <div class="col-10">
                    <div class="bg-white shadow-sm p-5">
                        <h2 class="text-black text-center font-unica text-uppercase mb-4"><u>Profil Bilgileri</u></h2>
                        <div class="form-group">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active pProfile" id="profile">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label class="pLabel pName">İsim: </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="pInfo">  </p> 
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="pLabel">Soyisim:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label  class="pLabel">Email:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <p></p>
                                                </div>
                                                <div class="col-md-2">
                                                    <label  class="pLabel pPhone">Telefon:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label  class="pLabel">Cüzdan Adresi:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label  class="pLabel">Bakiye:  </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p></p>
                                                </div>
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
    </section>
</main>