<main class="min-vh-100">
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Sizin için önerilenler:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">1 &ensp;-
                            &ensp;Teleferik
                            <div>
                                <button type="button" class="btn btn-outline-danger btn-sm m-0">Katıl</button>
                                <button type="button"
                                    class="btn btn-outline-primary btn-sm m-0 ">Davet Et</button>
                                <button type="button" class="btn btn-outline-info btn-sm m-0 ">Detay</button>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">2 &ensp;-
                            &ensp;Spa
                            <div>
                                <button type="button" class="btn btn-outline-danger btn-sm m-0">Katıl</button>
                                <button type="button"
                                    class="btn btn-outline-primary btn-sm m-0 ">Davet Et</button>
                                <button type="button" class="btn btn-outline-info btn-sm m-0 ">Detay</button>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">3 &ensp;-
                            &ensp;Basketbol
                            <div>
                                <button type="button" class="btn btn-outline-danger btn-sm m-0">Katıl</button>
                                <button type="button"
                                    class="btn btn-outline-primary btn-sm m-0 ">Davet Et</button>
                                <button type="button" class="btn btn-outline-info btn-sm m-0 ">Detay</button>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">4 &ensp;-
                            &ensp;Golf
                            <div>
                                <button type="button"
                                    class="btn btn-outline-danger btn-sm m-0">Katıl</button>
                                <button type="button" class="btn btn-outline-primary btn-sm m-0 ">Davet Et</button>
                                <button type="button" class="btn btn-outline-info btn-sm m-0 ">Detay</button>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">5 &ensp;-
                            &ensp;ATV
                            <div>
                                <button type="button"
                                    class="btn btn-outline-danger btn-sm m-0">Katıl</button>
                                <button type="button" class="btn btn-outline-primary btn-sm m-0 ">Davet Et</button>
                                <button type="button" class="btn btn-outline-info btn-sm m-0 ">Detay</button>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">6 &ensp;-
                            &ensp;Binicilik
                            <div>
                                <button type="button"
                                    class="btn btn-outline-danger btn-sm m-0">Katıl</button>
                                <button type="button" class="btn btn-outline-primary btn-sm m-0 ">Davet Et</button>
                                <button type="button" class="btn btn-outline-info btn-sm m-0 ">Detay</button>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">7 &ensp;-
                            &ensp;Lunapark
                            <div>
                                <button type="button"
                                    class="btn btn-outline-danger btn-sm m-0">Katıl</button>
                                <button type="button" class="btn btn-outline-primary btn-sm m-0 ">Davet Et</button>
                                <button type="button" class="btn btn-outline-info btn-sm m-0 ">Detay</button>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">8 &ensp;-
                            &ensp;Havuz
                            <div>
                                <button type="button"
                                    class="btn btn-outline-danger btn-sm m-0">Katıl</button>
                                <button type="button" class="btn btn-outline-primary btn-sm m-0 ">Davet Et</button>
                                <button type="button" class="btn btn-outline-info btn-sm m-0 ">Detay</button>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">9 &ensp;-
                            &ensp;Hamam
                            <div>
                                <button type="button"
                                    class="btn btn-outline-danger btn-sm m-0">Katıl</button>
                                <button type="button" class="btn btn-outline-primary btn-sm m-0 ">Davet Et</button>
                                <button type="button" class="btn btn-outline-info btn-sm m-0 ">Detay</button>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">10 - &ensp;Kayak
                            <div>
                                <button type="button"
                                    class="btn btn-outline-danger btn-sm m-0">Katıl</button>
                                <button type="button" class="btn btn-outline-primary btn-sm m-0 ">Davet Et</button>
                                <button type="button" class="btn btn-outline-info btn-sm m-0 ">Detay</button>
                            </div>
                        </li>
                        <hr>
                        <p class="info"><strong>Not:</strong>Yapılan öneriler %70 başarı oranı ile
                            gerçekleştirilmektedir.</p>

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Davet Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div ng-repeat="(x,y) in EventCtrl.users" class="my-3">
                        <div class="d-flex flex-row">
                            {{y}}
                            <button class="btn btn-outline-primary ml-auto" ng-click="EventCtrl.invite(x)"
                                ng-if="!EventCtrl.isInvited(x)">Davet</button>
                            <button class="btn btn-outline-danger ml-auto" ng-click="EventCtrl.uninvite(x)"
                                ng-if="EventCtrl.isInvited(x)">Çıkar</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kaydet</button>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row justify-content-center">
                <!--  form
                <div class="col-10 bg-white shadow-sm p-5">
                    <h2 class="text-center font-unica text-uppercase mb-4">Etkinlik Katılım</h2>
                    <div class="form-group w-50 mx-auto">
                        <div class="position-relative">
                            <input class="form-control rounded-1 p-3 font-karla bg-light" type="text" name="search"
                                placeholder="Etkinlik Arama" ng-model="EventCtrl.searchValue" />
                            <img src="/images/icons/search.png" class="input-icon position-absolute my-auto"
                                style="right: 5%; top: 25%;">
                        </div>
                        <div class="d-flex flex-column pt-3 text-center font-italic"
                            ng-if="EventCtrl.showSearchResults(EventCtrl.searchEvent(true))">
                            Sonuçlar:
                            <hr>
                            <a ng-repeat="(x,y) in EventCtrl.searchEvent(true)"
                                ng-click="EventCtrl.form.eventId = x">{{y}}</a>
                        </div>
                    </div>

                    <form>
                        <div class="form-group">
                            <label for="eventName" class="col-form-label">Otel Etkinlik Listesi</label>
                            <select id="eventName" class="form-control rounded-0 font-karla bg-light" required
                                ng-model="EventCtrl.form.eventId">
                                <option ng-repeat="(x,y) in EventCtrl.searchEvent(false)" value="{{x}}">{{y}}</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="eventOpinion" class="col-form-label">Katılım Durumu</label>
                            <select class="form-control rounded-0 font-karla bg-light" required
                                ng-model="EventCtrl.form.opinion" ng-init="EventCtrl.form.opinion = 0">
                                <option>Evet</option>
                                <option>Belki</option>
                                <option>Hayır</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="eventInvited" class="col-form-label">Davet ettiğim arkadaşlar</label>
                            <select multiple disabled class="form-control rounded-0 font-karla bg-light"
                                ng-model="EventCtrl.form.invited">
                                <option ng-repeat="(x,y) in EventCtrl.form.invited">{{y}}</option>
                            </select>
                        </div> -->
                <!-- <div class="form-group">
                            <div class="custom-control form-control-lg custom-checkbox mr-2">
                                <input type="checkbox" class="custom-control-input" id="interest"
                                    ng-model="EventCtrl.form.interest"
                                    ng-init="EventCtrl.form.interest = false">
                                <label class="custom-control-label" for="interest">İlgili</label>
                            </div>
                        </div> 
                        <div class="text-right">
                            <button type="button" class="btn btn-info h-100 ml-auto" data-toggle="modal"
                                data-target="#exampleModalCenter">Arkadaşıma bilgi ver</button>
                            <button class="btn btn-success h-100 ml-auto"
                                ng-click="EventCtrl.attendEvent(EventCtrl.form.eventId)">Etkinlik Kayıt</button>
                        </div>
                    </form>
                </div>  -->

                <div class="col-12 bg-white shadow-sm p-5 my-4">
                    <h2 class="text-center font-unica text-uppercase mb-5">Etkinlikler</h2>
                    <div class="position-relative m-4">
                        <input class="form-control rounded-1 p-3 font-karla bg-light" type="text" name="search"
                            placeholder="Etkinlik Arama" ng-model="EventCtrl.searchValue" />
                        <img src="/images/icons/search.png" class="input-icon position-absolute my-auto"
                            style="right: 5%; top: 25%;">
                    </div>

                    <div class="form-group">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Etkinlik Adı</th>
                                    <th scope="col">Organizatör Adı</th>
                                    <th scope="col">Başlangıç Tarihi ve Saati</th>
                                    <th scope="col">Şehir</th>
                                    <th scope="col">Ülke</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(x,y) in EventCtrl.searchEvent(false)" value="{{x}}">
                                    <th class="d-flex justify-content-between align-items-center" scope="row">{{y}}
                                        <span>
                                            <!--
                                            <a ><img
                                                    src="recommendation/images/icons/info.png"></a>-->
                                            <button type="button" class="btn btn-info m-0" data-toggle="modal"
                                                data-target="#detailModal" ng-if="isAuthenticated">
                                                Detay
                                            </button>
                                        </span>
                                    </th>
                                    <td>{{event.name}}</td>
                                    <td>{{event.name}}</td>
                                    <td>{{event.name}}</td>
                                    <td>{{event.name}}</td>
                                    <!-- <td>{{event.interest}}</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </section>
    <!-- suggestion button -->
    <button type="button" class="btn btn-primary btn-circle btn-xl position-fixed" style="right: 60px; bottom:40px; "
        data-toggle="modal" data-target="#exampleModalCenter2" ng-if="isAuthenticated">
        Öneri al
    </button>
</main>