<main>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="bg-white shadow-sm p-5">
                        <h2 class="text-center font-unica text-uppercase mb-4">Arkadaşlarım</h2>
                        <div class="form-group">
                            <ul id="listOrg_list" class="list-group">
                                <li class="list-group-item" ng-repeat="(x,y) in AccountCtrl.keys.users">
                                    <div class="d-flex align-items-center">
                                        <span class="mr-auto p-1 flex-column">
                                            <div class="p-2 lead">{{x}}</div>
                                        </span>
                                        <button class="btn btn-outline-secondary h-100 mr-2"
                                            ng-click="AccountCtrl.interact()">Ekle</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>