html,
body {
    font-size: 16px;
    margin: auto;
    height: 100%;
}

html {
    position: relative;
    scroll-behavior: smooth;
    
}

* {
    box-sizing: border-box;
}

body {
    background-color: #F9FAFF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Nunito', sans-serif !important;
}

body {
  margin-top: 70px;
}

.section-title > h1{
  font-family: Poppins;
  font-weight: 600;
  line-height: 36px;
  font-size: 2.5em;
  text-align: center;
  color: #323C5A;
  position: relative;
}

.section-title > h1::after {
  content: "";
  background-color: #F89A1D;
  position: absolute;
  height: 6px;
  right: 48%;
  bottom: -20px;
  width: 48px;
}

.section-desc-content {
  font-family: Work Sans;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 1.1em;
  text-align: center;
  color: #323C5A;
  padding: 0px 100px;
  padding-top: 50px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.section-3-img {
  text-align: center;
  margin-top: 10px;
}

.predict-main-sec {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4E2F3;
  background-repeat: no-repeat;
}

.ng-touched .ng-valid {
  border: 2px green solid;
}

.ng-touched .ng-invalid {
  border: 2px red solid;
}

.my-loader {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 1000;
  width: 95vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.my-loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #323C5A; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 0.8s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ********************************************************** */
/* Responsive view styling starts */

/***###*** MEDIA QUERIES ***###***/

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .section-title > h1 {
    font-size: 1.6em;
  }

}

@media (max-width: 577px) {

}

/********** Large Mobile devices only **********/
@media (max-width: 450px) {
}

/********** Medium Mobile devices only **********/
@media (max-width: 380px) {
}

/********** small Mobile devices only (eg: Iphone 4, ) **********/
@media (max-width: 330px) {
}

/* Responsive view styling ends */
/* ********************************************************** */



/* REGISTER STYLES */
.font-unica {
    font-family: 'Unica One', cursive;
}

.font-karla {
    font-family: 'Karla', sans-serif;
}

.submit-btn {
    background-color: #008575;
    font-size: 1em;
    letter-spacing: 0.15em;
    font-weight: 700;
}

.submit-text {
    color: #008575;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-weight: 600;
}

.footer-link {
    color: #a0d0de;
    line-height: 42px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Slabo 27px', serif;
}

.input-icon {
    width:1.1em;
    height:1.1em;
}

.rounded-1 {
    border-radius: 1em;
}



/* --------------------------------------------------- */

/* navigation bar */
#my-navbar {
    overflow: hidden;
    padding: 0.6rem 0;
    background-color: rgba(249, 250, 255, 0);
    background-image: linear-gradient(135deg, #604AE6  0%, #E73D59  100%);
    transition: background-color 1s ease 0s;
    color: white;
    font-weight: 600;
    font-size: 15px;
}


.nav-sections {
    margin-left: 1.88rem;
    
}

.scrolled-nav-bar {
    background-color: rgba(249, 250, 255, 1);
} 

.container .navbar-toggler {
    font-size: 2rem
}

#sign-in {
    margin-right: 1.5rem;
    color:white;
}

/* navigation button */
 .my-btn {
    position: relative;
    border-radius: 0.75rem;
    font-size: 0.88rem;
    border-color: #5AADDD;
    font-weight: 600;
}   

#btn-projects{position: relative;
    border-radius: 1.2rem;
    font-size: 0.8rem;
    border-color: #5AADDD;
    font-weight: 600;

}
/*
.btn-outline-primary {
    color: #8446C0 !important;
    background-color: white !important;
}

.btn-outline-primary:hover {
    background-color: #8446C0 !important;
    color: white !important;
}

.btn:active {
    top: 0.2rem;
} */


#home {
    background-image: url('../images/home/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#my-carousel{
    height: 100vh;
}

/* slider */
.carousel-item {
    height: 100vh;
    min-height: 35rem;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.carousel-caption {
    left: 20%;
    top: 30%;
}


#my-slider-h2{
    font-size: 2.2rem;
}
/* body */

#about {
    padding-top: 6.5%;
   
}

.vision{
    margin-top: 14px;
}

#contact {
    padding-top: 6.5%;
}

#projects {
    padding-top: 6.5%;

}
.box-about {
    background: #ffffff;
    border-radius: 0.93rem;
    padding: 6rem 3rem;
}

.box:hover {
    -webkit-animation: bounce-top 1.9s both;
    animation: bounce-top 1.9s both;
}


@-webkit-keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}



.line {
    background-image: linear-gradient(135deg, #E73D59 0%, #604AE6 100%);
    height: 0.2rem;
    width: 5rem;
    margin-bottom: 5rem;
    display: inline-block;
}


.box {
    background-color: #FFFFFF;
    border: .2rem solid #FFFFFF; 
    border-radius: 0.93rem;
    padding: 3.75rem 1.875rem;
    transition: all .4s ease-in-out;

}

.box h2 {
    font-size: 1.25rem;
    color: #3b566e;
    font-weight: 600;
    margin: 2.5rem 0 1.5rem;
    padding: 0;
}

.box p {
    font-size: 0.94rem;
    font-weight: 400;
    color: #919aaf;
    line-height: 1.625rem;
}

.projects h2 {
    color: #3b566e;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.btn-circle.btn-xl {
    width: 95px;
    height: 95px;
    padding: 10px 16px;
    border-radius: 60px;
    font-size: 1rem;
    line-height: 1.33;
    font-weight: 600;
}



.anailetisim {
    background: #F9FAFF;
    border-top: 6px solid #F9FAFF;
    color: #496379;
}

.anailetisim h2 {
    font: 300 3rem 'Nunito Sans', sans-serif;
}

.anailetisim .iletisimform input {
    color: #795548;
    font: 300 'Nunito Sans', sans-serif;
    /* 1.6rem */
    padding: 12px 18px;
    border-radius: 8px;
}

.anailetisim .iletisimform select {
    background: #fff right 4px center no-repeat;
    color: #496379;
    font: 300 1.6rem 'Nunito Sans', sans-serif;
    padding: 12px 18px;
    border-radius: 8px;
    -webkit-appearance: inherit;
}

.anailetisim .iletisimbilgi table td {
    vertical-align: top;
    color: #496379;
    font-weight: 300;
    padding: 0 12px 40px 12px;
}

.anailetisim h4 {
    margin-bottom: 4.5rem;
    /* font-size: 2.2rem; */
}

/* .form-control {
    font-size: 1.6rem;
} */

#btn-demo{
    margin-top: 150px;
    margin-left: 60px;
    text-transform: uppercase;
    font-size: 1.1rem;
   /* padding: 7px 25px; */
    margin-right: 20px;
    border: 1px solid #5C12E7;
    background-color: white;
    color: #5C12E7;
}

#btn-demo:hover{
    background-color: #634AE4 !important;
    color: white;
}

.btn-gonder {
    border-color: #5AADDD;
    background-color: #95CB0E;
    margin-top: 2rem;
    border-radius: 1.2rem;
}

.btn-gonder:hover {
    background-color: #5AADDD;
    transition: background-color .5s ease 0s;
}


#my-footer {
    background-color: #5AADDD;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: 1.4rem 0;

}

.footer-header {
    font-size: 1rem;
}

#logo-footer {
    height: 50%;
    width: 50%;
}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 768px) {
    .img-responsive {
        display: none;
    }
    .btn-gonder{
        margin-bottom: 1.25rem;
    }
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 1600px) {}

@media only screen and (min-width: 1601px) {}

@media (min-width: 768px) {}

@media (max-width: 767.98px) {
    .box {
        margin-bottom: 30px;
    }
   /* #vision{
      
    }   */

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}
}